<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="ВитГеоГрупп для Microsoft Office" Version="$(var.ProductVersion)" Manufacturer="Ilya Kremniou" 
          UpgradeCode="160d31eb-ecd4-4734-ae8a-663e068b8b42" 
          IconSourceFile="Resources\addin.ico">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        ThemeFile="BundleTheme.xml" 
        LocalizationFile="BundleLocale.wxl"
        SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>
    <Chain>
      <PackageGroupRef Id="NetFx472Web"/>
      <MsiPackage SourceFile="..\build\installer\Excel.msi" />
    </Chain>
  </Bundle>
</Wix>
