<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="011ECEEF-0630-4FD1-AB3B-1F7E3B6B25FA" Name="ВитГеоГрупп для Microsoft Office" Language="1033" 
           Codepage="utf-8" Version="1.0.0" Manufacturer="Ilya Kremniou" UpgradeCode="EB72DA82-9661-4C35-80B9-9E9C957D04C9">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>
    <Feature Id="ProductFeature" Title="AddinSetup" Level="1">
      <ComponentRef Id="comp_74143FDB_9FFC_4D68_B53F_65222F316E49" />
      <ComponentRef Id="comp_9884BB19_182F_4EA5_AB4F_5BD00227B226" />
    </Feature>
    <CustomAction Id="SetTARGETDIR" Directory="TARGETDIR" Value="[AppDataFolder]\Microsoft\Excel\XLSTART" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="SetTARGETDIR" After="InstallValidate" />
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Component Id="comp_74143FDB_9FFC_4D68_B53F_65222F316E49" Guid="1FC39128-5222-471F-965F-27CED5829458" Permanent="no" SharedDllRefCount="no" Transitive="no">
        <File Id="_5704739D_B8B1_4D48_9BF0_85EF5E8E3A0B" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="GeoPlarfromx64-packed.xll" Source="..\build\packged\GeoPlarfromx64-packed.xll" KeyPath="yes" />
      </Component>
      <Component Id="comp_9884BB19_182F_4EA5_AB4F_5BD00227B226" Guid="9465C7B8-1EBF-4E59-9819-9B7BDFF3D24C" Permanent="no" SharedDllRefCount="no" Transitive="no">
        <File Id="_01F87FC2_30CE_4BE2_A2A9_A43CF7C4575B" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="GeoPlarfromx86-packed.xll" Source="..\build\packged\GeoPlarfromx86-packed.xll" KeyPath="yes" />
      </Component>
    </Directory>
  </Fragment>
  <Fragment>
  </Fragment>
</Wix>